/*-- COLOR PALLET
#3d83b7 - Blue (Logo)
#001F3F - Dark Blue (Fonts);
#03AED2 - Blue;
#68D2E8 - Light Blue;
#FDDE55 - Yellow;
#FEEFAD - Light Yellow;
#e54631 - Red;
#6EC207 - Green;
--*/

@font-face {
    font-family: Lovelo-Black;
    src: url("./../fonts/Lovelo-Black.eot");
    src: url("./../fonts/Lovelo-Black.eot?#iefix") format("embedded-opentype"),
        url("./../fonts/Lovelo-Black.woff2") format("woff2"),
        url("./../fonts/Lovelo-Black.woff") format("woff"),
        url("./../fonts/Lovelo-Black.ttf") format("truetype");
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p, ul, li, a {
  font-family: "Verdana";
}

li {
    list-style-type: none;
}

h1, h2 {
    font-family: "Lovelo-Black";
}

.divider {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.main-content {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}

.welcome-page-div {
    background-image: url('../img/welcome-page.webp'); /* Image path */
    background-size: cover; /* Make image cover entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    width: 100vw; /* Full width of viewport */
    height: 100vh; /* Full height of viewport */
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center;     /* Vertically center the text */
    position: relative;
}

.welcome-page-div h1 {
    color: white; /* Text color */
    font-size: 3rem; /* Adjust size as needed */
    text-align: center;
    z-index: 1; /* Ensure the text is above the background image */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px 20px;
    border-radius: 8px;
}

.welcome-page-div2 {
    position: relative;
    height: 45vw;
    width: auto;
    z-index: 1;
    padding-top: 140px;
}

.welcome-page-div2::after {
    content: '';
    position: absolute;
    padding-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/welcome-page.webp') no-repeat center center/cover;
    filter: brightness(50%);
    z-index: -1;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/*-- NAVBAR --*/
.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #FEEFAD;
    z-index: 10;
}

.nav-logo-img-div {
    position: relative;
    left: 20px;
}

.nav-logo-img {
    width: 50px;
    height: 50px;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #001F3F;
    font-size: 1rem;
    font-weight: bold;
    transform: 0.5 ease-in-out;
}

.nav-link:hover {
    color: #03AED2;
}

.nav-link:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #19A7CE;
    transform-origin: left;
    transform: scaleX(0);
    position: absolute;
    bottom: -4px;
    left: 0%;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

nav input {
    display: none;
}

@media (max-width: 768px) {
    .nav-hamburger {
        position: relative;
        right: 20px;
        height: 50px;
        width: 50px;
        z-index: 999;
    }

    nav label span {
        position: absolute;
        top: 19px;
        right: 4px;
        width: 40px;
        height: 5px;
        border-radius: 4px;
        display: block;
        background-color: #68D2E8;
        transition: 0.5s;
    }

    nav label:hover {
        cursor: pointer;
    }

    nav label span:first-child {
        top: 7px;
    }

    nav label span:last-child {
        top: 30px;
    }

    nav input {
        position: relative;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    nav input:checked + label span {
        opacity: 0;
        top: 50%;
    }

    nav input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
    }

    nav input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
    }

    nav input:checked ~ ul {
        height: 100vh;
        background-color: #FEEFAD;
        background: linear-gradient(270deg, #235aa6, #101b3b);
    }

    nav input:checked ~ ul li {
        opacity: 1;
        transform: translateY(0);
    }

}

/*-- HOMEPAGE --*/
.homepage-logo {
    width: 40vw;
    height: auto;
}

/*-- ABOUT --*/
.about-team-bg {
    background-color: #FEEFAD;
}

.about-team-img {
    width: 70vw;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.about-1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-sep1 {
    position: relative;
}

.about-sep1:after {
    content: '';
    position: absolute;
}

.about-sep2, .about-sep2:after {
    height: 150px;
    width: 100%;
    background-color: #3d83b7;
}

.about-sep2:after {
    background-color: #FEEFAD;
    clip-path:polygon(50% 100%, 100% 0, 0 0);
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.about-team-members-bg {
    background-color: #3d83b7;
    min-height: 75px;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.responsive-cell-block {
    min-height: 75px;
}

.about-team-members-div {
    background-color: transparent;
    margin: 0 auto;
    max-width: 1380px;
    margin-bottom: 80px;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.team-head-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.name {
    font-size: 18px;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 700;
}

.position {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.team-card-container {
    width: 263px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.teamcard-container {
    background-color: #3d83b7;
    justify-content: space-evenly;
}

.team-img-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.team-img {
    max-width: 100%;
}

@media (max-width: 500px) {
    .team-card-container {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        width: 100%;
    }

    .team-img {
        width: 100%;
    }
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}