
        <!-- ABOUT -->
        <section id="about">
            <div class="container-fluid">



                <div class="row featurette about-team-bg">
                    <div class="col-md-4 order-md-2 p-5">
                        <h1 class="featurette-heading fw-normal lh-1 about-1">Quem somos nós?</h1>
                        <h2 class="text-body-secondary">Descobre mais aqui.</h2>
                        <p class="lead">Descrição do projecto.</p>
                    </div>
                    <div class="col-md-8 order-md-1 p-5">
                        <img src="{{ url_for('static', filename='img/about1.webp') }}" class="d-block mx-lg-auto img-fluid about-team-img" alt="team photo" loading="lazy">
                    </div>
                </div>

                <div class="about-sep1 about-sep2"></div>

                <div class="about-team-members-bg">
                    <div class="about-team-members-div">

                        <h1 class="text-blk team-head-text">
                          A nossa equipa
                        </h1>

                        <div class="responsive-container-block teamcard-container">

                            <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="text-blk name">
                                            Nome Colaborador
                                        </p>
                                        <p class="text-blk position">
                                            Função
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="text-blk name">
                                            Nome Colaborador
                                        </p>
                                        <p class="text-blk position">
                                            Função
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="text-blk name">
                                            Nome Colaborador
                                        </p>
                                        <p class="text-blk position">
                                            Função
                                        </p>
                                    </div>
                                </div>
                            </div>

                          <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="text-blk name">
                                            Nome Colaborador
                                        </p>
                                        <p class="text-blk position">
                                            Função
                                        </p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="text-blk name">
                                            Nome Colaborador
                                        </p>
                                        <p class="text-blk position">
                                            Função
                                        </p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                      <img class="team-img" src="{{ url_for('static', filename='img/team1.webp') }}" alt="team member 1 photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                      <p class="text-blk name">
                                        Nome Colaborador
                                      </p>
                                      <p class="text-blk position">
                                        Função
                                      </p>
                                    </div>
                                </div>
                          </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>

{% include "services.html" %}
