
        <!-- ABOUT -->
        <section id="about">
            <div class="container-fluid">

                <div class="divider"></div>

                <div class="row featurette">
                    <div class="col-md-4 order-md-2 p-5">
                        <h2 class="featurette-heading fw-normal lh-1">Quem somos nós? <span class="text-body-secondary">Descobre mais aqui.</span></h2>
                        <p class="lead">Descrição da motivação/equipa.</p>
                    </div>
                    <div class="col-md-8 order-md-1 p-5">
                        <img src="{{ url_for('static', filename='img/about1.webp') }}" class="d-block mx-lg-auto img-fluid about-team-img" alt="team photo" loading="lazy">
                    </div>
                </div>

            </div>
        </section>

