
        <!-- ABOUT -->
        <section id="about">
            <div class="container-fluid">

                <div class="row featurette about-team-bg m-0">
                    <div class="about-description-div col-md-12 order-md-2">
                        <h1 class="about-description-h1 featurette-heading initial-state">Quem somos nós?</h1>
                        <h2 class="about-description-h2 text-body-secondary initial-state">Descobre mais aqui.</h2>
                        <p class="about-description-p initial-state">
                            Fundada em janeiro de 2023, a nossa empresa dedica-se a proporcionar momentos únicos e inesquecíveis, especializados na animação de eventos infantis. O nosso compromisso é garantir um serviço de excelência, desde o primeiro contacto até ao final de cada evento.
                        </p>
                        <p class="about-description-p initial-state">
                            Oferecemos uma vasta gama de serviços, incluindo aluguer de insufláveis, pinturas faciais, tatuagens de glitter, modelagem de balões, pipocas, algodão doce e jogos infantis, contando com uma equipa de animadores criativos, simpáticos e sempre prontos para tornar cada festa ainda mais especial.
                        </p>
                        <p class="about-description-p initial-state">
                            Valorizamos a qualidade dos nossos equipamentos e a segurança de todos os participantes, proporcionando atividades que combinam diversão, criatividade e profissionalismo. O nosso objetivo é criar memórias felizes, sempre com um toque de carinho e dedicação.
                        </p>
                    </div>
                </div>

                <div class="col-md-12 order-md-1">
                    <img src="{{ url_for('static', filename='img/about1.webp') }}" class="about-team-img initial-state" alt="team photo" loading="lazy">
                </div>

                <div class="about-sep1 about-sep2"></div>

                <div class="about-team-members-bg">
                    <div class="about-team-members-div">

                        <h1 class="about-team-head-text display-5 initial-state">A nossa equipa</h1>

                        <div class="responsive-container-block">

                            <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member1.webp') }}" alt="team member - Flávia - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="team-member-name initial-state">
                                            Flávia
                                        </p>
                                        <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                            </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member2.webp') }}" alt="team member - Luís - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="team-member-name initial-state">
                                            Luís
                                        </p>
                                        <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                        <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member3.webp') }}" alt="team member - Beatriz - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                        <p class="team-member-name initial-state">
                                            Beatriz
                                        </p>
                                        <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                      <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member4.webp') }}" alt="team member - Sandra - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                      <p class="team-member-name initial-state">
                                        Sandra
                                      </p>
                                      <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                      <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member5.webp') }}" alt="team member - Cláudia - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                      <p class="team-member-name initial-state">
                                        Cláudia
                                      </p>
                                      <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                      <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member6.webp') }}" alt="team member - Maria - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                      <p class="team-member-name initial-state">
                                        Maria
                                      </p>
                                      <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                          <div class="responsive-cell-block team-card-container">
                                <div class="team-card">
                                    <div class="team-img-wrapper">
                                      <img class="team-img initial-state" src="{{ url_for('static', filename='img/team-member7.webp') }}" alt="team member - Mariana - photo" loading="lazy">
                                    </div>
                                    <div class="team-card-content">
                                      <p class="team-member-name initial-state">
                                        Ana Raquel
                                      </p>
                                      <p class="text-blk position initial-state"></p>
                                    </div>
                                </div>
                          </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

{% include "services.html" %}
