
        <!-- CONTACT -->
        <section id="contacts">
            <div class="container-fluid">

                <div class="contact-bg initial-state"></div>

                <div class="contact-form-bg">
                    <div class="bg-light py-3 py-md-5">

                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                                    <h1 class="mb-4 display-5 text-center contacts-h1 initial-state">Contactos</h1>
                                    <h2 class="text-secondary text-center initial-state">A nossa resposta será o mais breve possível!</h2>
                                </div>
                            </div>
                        </div>

                        <div class="contacts-media-icons-div p-0 m-0">
                            <ul class="contacts-media-icons-ul p-3 initial-state">
                                <!-- WHATSAPP -->
                                <li class="contacts-media-li m-0">
                                    <a href="https://wa.me/{{ wp }}" target="_blank">
                                        <img src="{{ url_for('static', filename='img/whatsapp.webp') }}" class="d-block mx-lg-auto img-fluid" alt="whatsapp contact icon" width="60" height="60" loading="lazy">
                                    </a>
                                </li>
                                <!-- INSTAGRAM -->
                                <li class="contacts-media-li m-0">
                                    <a href="https://www.instagram.com/aventurasnolimits_insuflaveis?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                                        <img src="{{ url_for('static', filename='img/instagram.webp') }}" class="d-block mx-lg-auto img-fluid" alt="instagram contact icon" width="60" height="60" loading="lazy">
                                    </a>
                                </li>
                                <!-- FACEBOOK -->
                                <li class="contacts-media-li m-0">
                                    <a href="https://www.facebook.com/profile.php?id=100089319170438" target="_blank">
                                        <img src="{{ url_for('static', filename='img/facebook.webp') }}" class="d-block mx-lg-auto img-fluid" alt="facebook contact icon" width="60" height="60" loading="lazy">
                                    </a>
                                </li>
                                <!-- EMAIL -->
                                <li class="contacts-media-li m-0">
                                    <a href="#contact-form">
                                        <img src="{{ url_for('static', filename='img/email-file.webp') }}" class="d-block mx-lg-auto img-fluid" alt="email contact icon" width="60" height="60" loading="lazy">
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-12 col-lg-9">
                                    <div class="bg-white border rounded shadow-sm overflow-hidden initial-state">

                                        <form id="contact-form" action="{{ url_for('contact') }}" method="POST">
                                            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                                                <div class="col-12">
                                                    <label for="fullname" class="form-label">Nome<span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="fullname" name="fullname" value="" required>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="email" class="form-label">E-mail<span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                                            </svg>
                                                        </span>
                                                        <input type="email" class="form-control" id="email" name="email" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="phone" class="form-label">Telemóvel</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                                            </svg>
                                                        </span>
                                                        <input type="tel" class="form-control" id="phone" name="phone" value="">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <label for="message" class="form-label">Mensagem<span class="text-danger">*</span></label>
                                                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <input type="hidden" name="recaptcha_token" id="recaptcha-token">
                                                        <input type="hidden" id="recaptcha-site-key" value="{{ key }}">
                                                        <button class="btn btn-lg contacts-form-button initial-state" value="submit">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form >

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="feedback-message" class="feedback-message"></div>

        </section>

    </main>

{% include "footer.html" %}
