        <!-- FOOTER -->
        <section id="footer">
            <div class="container-fluid">

                <footer class="text-center text-white footer">
                    <!-- Grid container -->
                    <div class="container">
                        <!-- Section: Links -->
                        <section>
                            <!-- Grid row-->
                            <div class="row text-center d-flex justify-content-center p-5">
                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <h6 class="font-weight-bold">
                                        <a href="#homepage" class="text-white footer-a">Início</a>
                                    </h6>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <h6 class="font-weight-bold">
                                        <a href="#about" class="text-white footer-a">Quem somos nós?</a>
                                    </h6>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <h6 class="font-weight-bold">
                                        <a href="#services" class="text-white footer-a">Atividades</a>
                                    </h6>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <h6 class="font-weight-bold">
                                        <a href="#testimonials" class="text-white footer-a">Testemunhos</a>
                                    </h6>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2">
                                    <h6 class="font-weight-bold">
                                        <a href="#contacts" class="text-white footer-a">Contactos</a>
                                    </h6>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row-->
                        </section>
                        <!-- Section: Links -->

                        <hr class="mt-0 mb-4" />

                        <!-- Section: Social -->
                        <section class="text-center">
                            <a href="" class="text-white me-4"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
                            <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
                        </section>
                        <!-- Section: Social -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3">
                        <p class="footer-p">Aventurasnolimits © {{ year }} Copyright, todos os direitos reservados</p>
                        <p class="footer-p">Desenvolvido por <a class="text-white fw-bold footer-a" href="https://ricardorato.dev" target="_blank" aria-label="open link to ricardo rato's portfolio webpage.">Ricardo Rato</a></p>
                    </div>

                </footer>

            </div>
        </section>


        <!-- JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>