{% include "head.html" %}

<body>
    <header>

        <!-- NAVBAR -->
        <section id="navbar">

            <nav class="p-0 navbar">

                <input type="checkbox" id="hamburger" class="navbar-input" name="hamburger" />
                <label for="hamburger" class="navbar-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>

                <img class="nav-logo-img" src="{{ url_for('static', filename='img/logo.webp') }}" alt="navbar company logo" loading="lazy">

                <ul class="m-0 nav-links-ul">
                    <li class="ps-2 pe-2"><a id="nav-home" class="nav-link" href="#homepage" aria-label="home" >Início</a></li>
                    <li class="ps-2 pe-2"><a id="nav-who-we-are" class="nav-link" href="#about" aria-label="who we are" >Quem Somos</a></li>
                    <li class="ps-2 pe-2"><a id="nav-activities" class="nav-link" href="#services" aria-label="activities" >Atividades</a></li>
                    <li class="ps-2 pe-2"><a id="nav-testimonials" class="nav-link" href="#testimonials" aria-label="testimonials" >Testemunhos</a></li>
                    <li class="ps-2 pe-2"><a id="nav-contacts" class="nav-link" href="#contacts" aria-label="contacts" >Contactos</a></li>
                </ul>

            </nav>

        </section>

    </header>
