
        <!-- SERVICES -->
        <section id="services">
            <div class="container-fluid">
                <div class="services-bg">

                    <div class="d-flex justify-content-center pt-5">
                        <h1 class="services-h1 display-5 initial-state">Atividades</h1>
                    </div>


                    <div class="container marketing">

                        <hr class="services-hr featurette-divider">

                        <div class="service-div row featurette">
                            <div class="col-md-12">
                                <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Aluguer de Insufláveis</h2>
                                <p class="services-p initial-state">
                                    Oferecemos uma vasta gama de insufláveis para todos os tipos de eventos infantis, garantindo diversão e segurança para as crianças. Com uma diversidade de modelos e tamanhos, os nossos insufláveis são perfeitos para festas de aniversário, eventos escolares ou qualquer celebração especial.
                                </p>
                                <p class="services-p initial-state">
                                    Todos os nossos equipamentos são segurados e certificados, cumprindo rigorosamente as normas de segurança em vigor. Garantimos a qualidade e a durabilidade dos insufláveis, proporcionando uma experiência divertida e segura para os mais pequenos, enquanto os pais podem desfrutar do evento com total tranquilidade.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <img class="service-img initial-state" src="{{ url_for('static', filename='img/atividade1.webp') }}" alt="Aluguer de insufláveis">
                            </div>
                        </div>

                        <hr class="featurette-divider mt-5 mb-5">

                        <div class="service-div row featurette">
                            <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Carrinho de Algodão Doce e Pipocas</h2>
                            <div class="col-md-6">
                                <p class="services-p initial-state">
                                    Adicione um toque doce e nostálgico ao seu evento com o nosso serviço de carrinho de algodão doce e pipocas.
                                </p>
                                <p class="services-p initial-state">
                                    Perfeito para criar um ambiente festivo, este serviço encanta crianças e adultos com o sabor irresistível das pipocas e o algodão doce, preparado na hora.
                                </p>
                                <p class="services-p initial-state">
                                    Garantimos a máxima qualidade e higiene. O carrinho de algodão doce e pipocas é a escolha ideal para festas de aniversário, feiras, eventos escolares e celebrações de todos os tipos, proporcionando momentos deliciosos e divertidos para todos os participantes.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img class="service-img service2-img initial-state" src="{{ url_for('static', filename='img/atividade2.webp') }}" alt="Carrinho de algodão doce">
                            </div>
                        </div>

                        <hr class="featurette-divider mt-5 mb-5">

                        <div class="service-div row featurette">
                            <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Serviço de pinturas faciais, modelagem de balões e tatuagens de glitter e temporárias</h2>
                            <div class="col-md-6">
                                <p class="services-p initial-state">
                                    As pinturas faciais são realizadas com tintas à base de água, hipoalergénicas, não tóxicas, laváveis. Estas tintas garantem uma experiência segura e divertida para todas as crianças, onde podem explorar a criatividade e imaginação.
                                </p>
                                <p class="services-p initial-state">
                                    Além disso, oferecemos o serviço de modelagem de balões, onde a nossa equipa cria figuras encantadoras e coloridas que animam qualquer evento.
                                </p>
                                <p class="services-p initial-state">
                                    Por fim, as tatuagens de glitter e temporárias são uma divertida opção para animar qualquer evento infantil. Disponíveis em diversos designs coloridos e brilhantes, estas tatuagens fascinam as crianças, adicionando um toque de brilho às festas.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img class="service-img service3-img initial-state" src="{{ url_for('static', filename='img/atividade3.webp') }}" alt="Pinturas faciais">
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>

{% include "testimonials.html" %}
