
        <!-- SERVICES -->
        <section id="services">
            <div class="container-fluid">
                <div class="services-bg">

                    <div class="d-flex justify-content-center pt-5">
                        <h1 class="services-h1 display-5 initial-state">Serviços</h1>
                    </div>

                    <div class="container marketing">

                        <hr class="services-hr featurette-divider">

                        <div class="service-div row featurette">
                            <div class="col-md-12">
                                <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Aluguer de Insufláveis</h2>
                                <p class="services-p initial-state">
                                    Oferecemos uma vasta gama de insufláveis para todos os tipos de eventos infantis, garantindo diversão e segurança para as crianças. Com uma diversidade de modelos e tamanhos, os nossos insufláveis são perfeitos para festas de aniversário, eventos escolares ou qualquer celebração especial.
                                </p>
                                <p class="services-p initial-state">
                                    Todos os nossos equipamentos são segurados e certificados, cumprindo rigorosamente as normas de segurança em vigor. Garantimos a qualidade e a durabilidade dos insufláveis, proporcionando uma experiência divertida e segura para os mais pequenos, enquanto os pais podem desfrutar do evento com total tranquilidade.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <img class="service-img initial-state" src="{{ url_for('static', filename='img/atividade1.webp') }}" alt="Aluguer de insufláveis">
                            </div>
                        </div>

                        <hr class="featurette-divider mt-5 mb-5">

                        <div class="service-div row featurette">
                            <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Carrinho de Algodão Doce e Pipocas</h2>
                            <div class="col-md-6">
                                <p class="services-p initial-state">
                                    Adicione um toque doce e nostálgico ao seu evento com o nosso serviço de carrinho de algodão doce e pipocas.
                                </p>
                                <p class="services-p initial-state">
                                    Perfeito para criar um ambiente festivo, este serviço encanta crianças e adultos com o sabor irresistível das pipocas e o algodão doce, preparado na hora.
                                </p>
                                <p class="services-p initial-state">
                                    Garantimos a máxima qualidade e higiene. O carrinho de algodão doce e pipocas é a escolha ideal para festas de aniversário, feiras, eventos escolares e celebrações de todos os tipos, proporcionando momentos deliciosos e divertidos para todos os participantes.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img class="service2-img initial-state" src="{{ url_for('static', filename='img/atividade2.webp') }}" alt="Carrinho de algodão doce">
                            </div>
                        </div>

                        <hr class="featurette-divider mt-5 mb-5">

                        <div class="service-div row featurette">
                            <h2 class="service-h2 featurette-heading fw-normal lh-1 initial-state">Pinturas faciais, modelagem de balões e tatuagens de glitter e temporárias</h2>
                            <div class="col-md-6">
                                <p class="services-p initial-state">
                                    As pinturas faciais são realizadas com tintas à base de água, hipoalergénicas, não tóxicas, laváveis. Estas tintas garantem uma experiência segura e divertida para todas as crianças, onde podem explorar a criatividade e imaginação.
                                </p>
                                <p class="services-p initial-state">
                                    Além disso, oferecemos o serviço de modelagem de balões, onde a nossa equipa cria figuras encantadoras e coloridas que animam qualquer evento.
                                </p>
                                <p class="services-p initial-state">
                                    Por fim, as tatuagens de glitter e temporárias são uma divertida opção para animar qualquer evento infantil. Disponíveis em diversos designs coloridos e brilhantes, estas tatuagens fascinam as crianças, adicionando um toque de brilho às festas.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img class="service3-img initial-state" src="{{ url_for('static', filename='img/atividade3.webp') }}" alt="Pinturas faciais">
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-center">
                            <h2 class="text-secondary text-center initial-state mt-3">E muito mais!</h2>
                            <h2 class="text-secondary text-center initial-state">Consulte aqui o nosso catálogo</h2>
                            <button type="button" class="btn btn-lg contacts-form-button catalog-btn initial-state">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-download" viewBox="0 0 20 20">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                                <a href="{{ catalog }}" target="_blank" aria-label="link to catalog">Catálogo</a>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </section>

{% include "testimonials.html" %}
