
        <!-- TESTIMONIALS -->
        <section id="testimonials">
            <div class="container-fluid">

                <div class="testimonials-bg-div">
                    <div id="testimonials-div" class="testimonials-div">
                        <h1 class="display-5 text-center testimonials-h1 initial-state">Testemunhos</h1>

                        <div class="slider">
                            <div id="slide-row" class="slide-row">

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Cátia Curado</h2>
                                        <p class="lh-base">
                                            <span>
                                                <img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes">
                                            </span>
                                                O serviço foi 5 estrelas, desde a montagem do insuflavel até ao fim da festa foram incríveis, as suas colaboradoras não podiam ter sido melhores. Só tenho a agradecer de coração todo o serviço e dedicação que desempenharam na festa da minha pequena!
                                        </p>
                                        <p class="lh-base">
                                                Só tenho a agradecer de coração todo o serviço e dedicação que desempenharam na festa da minha pequena!
                                            <span>
                                                <img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 2º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 3º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 4º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 5º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 6º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 7º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                                <div class="slide-col">
                                    <div class="content">
                                        <h2 class="fw-bold">Nome do 8º Testemunho</h2>
                                        <p class="fw-bold">Função/Posição</p>
                                        <p class="lh-base"><span><img src="{{ url_for('static', filename='img/right.webp') }}" class="carousel-quotes"></span>Testemunho<span><img src="{{ url_for('static', filename='img/left.webp') }}" class="carousel-quotes"></span></p>
                                    </div>
                                    <div class="hero">
                                        <img src="{{ url_for('static', filename='img/testemunhos1.webp') }}" alt="testimonial photo">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="indicator">
                            <span class="carousel-btn active"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                            <span class="carousel-btn"></span>
                        </div>

                        <button class="carousel-control carousel-left-control" aria-label="Previous">
                            &#10094;
                        </button>

                        <button class="carousel-control carousel-right-control" aria-label="Next">
                            &#10095;
                        </button>

                    </div>
                </div>

            </div>
        </section>

{% include "contact.html" %}
